<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Supervision</ion-title>
    <ion-buttons slot="end" outline="clear">
      <div class="icon_me">
        <ion-badge *ngIf="n" color="danger">{{ n }}</ion-badge>
        <ion-icon size="large" color="primary" (click)="presentModalAlarme()" outline="clear" name="notifications-outline"></ion-icon>
    </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background: url('assets/images/undraw_mobile_marketing.svg') 0 0/100% 100% no-repeat;">

</ion-content>
