
<ion-content style="--background: url('assets/images/Subtle-Prism.svg') ">
<!-- <ion-content style="--background: url('assets/images/Background 26.svg');opacity: 9.1;"> -->
  <app-slides class="ion-no-padding" no-padding></app-slides>
  <!-- <ion-button vertical="bottom" expand="block" fill="outline" color="dark" (click)="navigateToLogin()">Start</ion-button> -->
  <app-start style="margin: 20%;"></app-start>
  <p class="welcomePage" vertical="bottom"  color="dark">Powered by ISMAIL</p>
</ion-content>
