<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content justify-content-center style="--background: url('assets/images/undraw_maker_launch_crhe.svg') 0 0/100% 90% no-repeat;">
  <div class="verticalCenter">    
    
    <ion-card color="medium" floating style="margin: 10%;opacity: 0.9;" (click)="logoutAction()">
      <ion-item>
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label class="center" >Déconnexion</ion-label>
      </ion-item>
    </ion-card>
  </div>
  
</ion-content>